version: '3'

services:
  factorem-assessment:
    build: .
    image: factorem-assessment
    environment:
    ports:
      - '3000:3000'
    depends_on:
      - mongodb
    volumes:
      - .:/usr/src/factorem-assessment
    networks:
      - factorem-network

volumes:
  dbdata:

networks:
  factorem-network:
    driver: bridge
